/* paniel */
#btn-link{
    color: #ffffff;
    font-size: 14pt;
}
#btn-painel{
    color: #ffffff;
    font-size: 14pt;
}
#nome-sist{
    font-size: 14pt;
}
/* alunos */
#btn-detalhe{
    font-size: 16pt;
}
#aluno-detalhe{
    font-size: 13pt;
}