/* paniel */
#btn-link{
    color: #ffffff;
    font-size: 14pt;
}
#btn-painel{
    color: #ffffff;
    font-size: 13pt;
}
#nome-sist{
    font-size: 14pt;
}
/* alunos */
#btn-detalhe{
    font-size: 16pt;
}
#aluno-detalhe{
    font-size: 13pt;
}
#form-nota{
    font-size: 12pt;
}
#nome-aluno{
  font-size: 13pt;
}
#btn-modal-nota{
  width: 30%;
}
#modal-tamanho{
  margin-top: 10%;
}
