/*index */
#btn-login{
  background-color: #5a2988;
  color: #ffffff;
}
#barra-login{
    background-color: #337ab7;
    height: 250px;
    width: 100%;
    text-align: center;
}
#icon-login{
  margin-top: 5%;
  color: #ffffff;
  font-size: 40pt;
}
#nome-sistem{
  color: #ffffff;
  font-size: 15pt;
}
#subtutulo-sistem{
  color: #ffffff;
  font-size: 13pt;
}
#form-login{
  margin-top: -15%;
}
@media screen and (max-width: 1000px) {
  #form-login{
    margin-top: -35%;
  }
}
/* paniel */
#barra-pagina{
background-color: #5a2988;
color: #ffffff;
}
#btn-link{
    color: #ffffff;
    font-size: 14pt;
}
#btn-painel{
    color: #ffffff;
    font-size: 13pt;
}
#nome-sist{
    font-size: 14pt;
}
/* alunos */
#btn-detalhe{
    font-size: 16pt;
}
#aluno-detalhe{
    font-size: 13pt;
}
#form-nota{
    font-size: 12pt;
}
#nome-aluno{
  font-size: 13pt;
  background-color: #5a2988;
  color: #ffffff;
}
#btn-modal-nota{
  width: 30%;
}
#modal-tamanho{
  margin-top: 10%;
}
#btn-add-professor{
    margin-top: -6%;
}
